body {
    font-size: 24px;
    text-align: center;
}
p.style1{    
    text-align: center;
    color: rgb(142, 26, 165);
    font-size:xx-large;
}
table.table1{
    font-size: 18px;
    text-align-last:left;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
    border: 1px solid rgb(27, 7, 158);
    table-layout: fixed;
}
td{
    border: 1px solid rgb(27, 7, 158);
}
th{
    border: 1px solid rgb(27, 7, 158);
    background-color: rgb(238, 224, 204);
}
.container {
    width: 800px;
    height: 420px;
}

.container img {
    width: 100%;
    height: auto;
}
